.DS_Store

koishibow/taikenban.zip
yukareimu/taikenban.zip
yakusoku/taikenban.zip

suzudango/music/all.zip
suzudango/music/music.mp3
suzudango/music/music.wav

node_modules/
#public/scripts/app.min.js
#public/stylesheets/style.css

.env
