@keyframes motion-yukari__effect-3 {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to   { transform: translate(-50%, -50%) rotate(200deg); }
}
@keyframes motion-yukari__effect-4 {
  from { transform: translate(-50%, -50%) scale(4); }
  to   { transform: translate(-50%, -50%) scale(1); }
}

@keyframes motion-yukari__silhouette {
  from { opacity: 0; }
  to   { opacity: 0.3; }
}

@keyframes motion-yukari__show-telop-1 {
  from { transform: translateY(80px); }
  to   { transform: translateY(0px); }
}
@keyframes motion-yukari__show-telop-2 {
  from { transform: translateY(0px); }
  to   { transform: translateY(-80px); }
}
@keyframes motion-yukari__show-telop-3 {
  from { transform: translateY(-80px); }
  to   { transform: translateY(-160px); }
}

@keyframes motion-yukari__page-1 {
  from { transform: translateY(100%) rotate(20deg); }
  to   { transform: translateY(0%) rotate(0deg); }
}
@keyframes motion-yukari__page-2 {
  from { transform: translateY(100%) rotate(-20deg); }
  to   { transform: translateY(0%) rotate(0deg); }
}
